# GitHub Packages registry for @vestlang and @mattcantor scopes
@vestlang:registry=https://npm.pkg.github.com
@mattcantor:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
